<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <listeners>
        <listener class-name="SetUpListenersClass"/>
    </listeners>
    <test name="AutoQA">
        <classes>
            <class name="StepTest" />
        </classes>
    </test>
</suite>